Checks: >
  -*,
  bugprone-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*,
  -modernize-use-trailing-return-type,
  -readability-magic-numbers,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-redundant-member-init,
  -readability-function-cognitive-complexity,
  -cppcoreguidelines-use-default-member-init,
  -modernize-use-default-member-init,
  -readability-qualified-auto,
  -readability-math-missing-parentheses,
  -readability-convert-member-functions-to-static,
  -cppcoreguidelines-pro-type-member-init,
  -modernize-use-equals-default,
  -cppcoreguidelines-prefer-member-initializer,
  -performance-enum-size,
  -readability-simplify-boolean-expr,
  -bugprone-empty-catch,
  -readability-redundant-string-init,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -bugprone-exception-escape,
  -cppcoreguidelines-init-variables,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-avoid-const-or-ref-data-members

HeaderFilterRegex: '(lib|core|ui)/.*'

CheckOptions:
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.MemberPrefix
    value: 'm_'
  - key: readability-identifier-naming.TypeAliasIgnoredRegexp
    value: 'is_transparent'